//base colors
$main-bg: #fff;
$bg-color: #e7eaf2;
$modal-bg: rgba(0, 0, 0, 0.25);

//text colors
$main-text: #000000;
$secondary-text: #ffffff;

//border colors
$border-table: #dcdcdf;
$border-btn: #000;
$divider-color: #e7e5f2;

//btn color
$btn-profit: #24cca7;
$btn-lose: #ff6596;

// not active text
$text-passive-toggle: #bdbdbd;
$text-passive: #e0e0e0;

// others colors
$text-cansel: #4a56e2;
$text-lose: #ff6596;
$text-profit: #24cca7;

// Ellipse
$dark-ellipse: #c5baff;
$light-ellipse: #ffd8d0;

// Categories
$base-lose: #fed057;
$products: #ffd8d0;
$car: #fd9498;
$your-salfe: #c5baff;
$kids: #6e78e8;
$for-house: #4a56e2;
$education: #81e1ff;
$leisure: #24cca7;
$others-lose: #00ad84;
