@import "../../assets/scss/utils/variables";
@import "../../assets/scss/colors.scss";

.background {
  background-color: $main-bg;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  padding-top: 15px;
  padding-bottom: 15px;

  @media (max-width: $max-mobile) {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: $min-desktop) {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}
