.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 40px;
  // padding-right: 30px;
}

.balance {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 204px;
    padding-top: 40px;
  }

  .balance {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 204px;
    padding-top: 13px;
    padding-right: 0;
  }

  .balance {
    margin-bottom: 30px;
  }
}
